.catalog {
    width: 300px;
    height: calc(100% - 120px);
    overflow-y: scroll;
    animation-duration: 1s;
    animation-name: smoothTransition;
    animation-iteration-count: 1;
    background-color: white;
    position: absolute;
    top: 120px;
    z-index: 999;
    left: 0;
    & .catalogElement {
        display: flex;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        margin-top: 10px;
        cursor: pointer;
    }
    & .catalogElement:hover {
        background-color: rgba(128, 128, 128, 0.223);
    }
}
.catalog::-webkit-scrollbar-track {
    background: transparent        /* цвет зоны отслеживания */
}
  
.catalog::-webkit-scrollbar-thumb {
    background: transparent;
}

@keyframes smoothTransition {
    from {
        left: -300px;
    }
    to {
        left: 0px;
    }
}
