.shopsMap {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    row-gap: 15px;
    padding-top: 15px;
    flex-direction: column;
    height: calc(100% - 15px);
    & .title {
        text-align: center;
    }
    & .ymap {
        width: 99%;
        height: 600px
    }
}
.placemark {
    width: 120px;
    height: 120px;
}

@media screen and (max-width: 760px) {
    .shopsMap {
        & .ymap {
            height: 550px;
        }
    }
}